<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>MCP - Principal</title>

<!-- Bootstrap core CSS -->
<link href="lib/css/bootstrap.css" rel="stylesheet">
<link href="lib/css/general-sfp.css" rel="stylesheet">
<link rel="stylesheet" type="text/css"
	href="lib/css/personalizar.css">
<link rel="stylesheet" type="text/css"
	href="lib/css/sweetalert.css">
</head>
<body data-ng-app="MCP">

	<br>
	<br>
	<div class="container" data-ng-controller="MCPController">

		<div class="text-right">
			<button class="btn btn-danger" data-ng-click="Close()">Salir de MCP</button>
		</div>
		<hr>
		<div class="row">
			<div class="col-md-4 col-md-offset-4 text-center">
				<div class="search-box">
					<div class="caption">
						<h3>Mantenimiento Código de Productos</h3>
						<br>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="container-fluid">
		<form class="form-horizontal">
			<fieldset>

				<!-- Text input-->
				<div class="form-group">
					<div class="col-md-4"></div>
					<div class="col-md-4">
						<label class="control-label" for="txtCodNew">Código
							Actual: </label> <input id="txtCodOld" name="txtCodOld" type="text"
							placeholder="Ingrese código actual" class="form-control input-md"
							required="">
					</div>
				</div>

				<!-- Text input-->
				<div class="form-group">
					<div class="col-md-4"></div>
					<div class="col-md-4">
						<label class="control-label" for="txtCodNew">Código Nuevo:
						</label> <input id="txtCodNew" name="txtCodNew" type="text"
							placeholder="Ingrese código nuevo" class="form-control input-md"
							required="">
					</div>
				</div>

				<!-- Button (Double) -->
				<div class="form-group">
					<label class="col-md-4 control-label" for="btnSave"></label>
					<div class="col-md-8">

						<button id="btnSave" name="btnSave" class="btn btn-primary">Actualizar</button>
						<button type="reset" class="btn btn-warning">Cancelar</button>

					</div>
				</div>

			</fieldset>
		</form>
	</div>

	<!-- Include all compiled plugins (below), or include individual files as needed -->
	<script src="lib/js/angular.js"></script>
	<script src="lib/js/ui-bootstrap-tpls-2.5.0.min.js"></script>
	<script src="lib/js/ng-table.min.js"></script>
	<script src="lib/js/angular.min.js"></script>
	<!-- Controllers -->
	<script src="controller/app.js"></script>
	<script src="controller/controladorMCP.js"></script>

</body>
</html>