h1{
	text-align: center;
	color:#666;
	text-shadow:0px 2px 0px #fff;

}

.nombre{
	font-size:18px; 
}

.precio{
	font-style: italic;
	font-size: 13px;
}

.wrapper{
	width:700px;
	margin: 0 auto;
	box-shadow:5px 5px 5px #555;
	border: 2px solid #0080c0;
	background: #ffffff;
	border-radius: 15px;
	padding: 10px;

}
.contact-item{
	border-bottom: thin solid #ccc; 
	padding:10px;
}

button
{
   background:#080;
   color:#fff;
   padding:5px 15px;
   border-radius: 5px;
   border: thin solid #060;
"margin: 5px auto;"
}
button:hover{
   background: #0A0;
}
